flask
flask-cors
google-cloud-bigquery
google-cloud-storage
google-cloud-secretmanager
google-cloud-pubsub
google-cloud-language
vertexai
gunicorn
plotly
pandas
requests
python-dateutil
pyyaml
pytest
pytest-cov
flask-limiter
